/* FONT */ 
@font-face {
    font-family: keania_one;
    src: url(../fonts/KeaniaOne-Regular.woff);
    src: url(../fonts/KeaniaOne-Regular.woff2);
}

/*GLOBAL STYLES*/
body{
    background-color: #303030;
    margin: 0;
}
header{
    grid-area: hd;
    background-color: #202020;
    display: flex;
    align-items: center;
    color: white;
    z-index: 10;
    font-family: keania_one;
}
header img{
    position: absolute;
    right: 1rem;
    height: 10%;
    cursor: pointer;
    
}
footer{
    grid-area: ft;
    background-color:#202020;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding: 0 2% 0 2%;
    font-family: keania_one;
}
@media (max-aspect-ratio: 1/1) {
    footer h3{
        display: none;
    }
}
footer a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a img {
    height: 50%;
}
#trademark {
    position: absolute;
    right: 4%;
    font-size: 75%;
}
nav{
    background-color:#202020;
    height: 80%;
    width:15%;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    font-family: keania_one;
}
nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5vh;
}
.closed{
    position: fixed;
    right: -50%;
    transition: right 0.3s;
    z-index: 10;
    
}
.show{
    right: 0;
    position: fixed;
}
#menuButton {
    cursor: pointer;
}
/*GLOBAL END */

/* MODS STYLES */
#wrapperMods{
    width: 100%;
    height: 160%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 40vh 80vh 20vh;
    grid-template-areas: 
    'hd'
    'mn'
    'sc'
    'ft'
    ;

}
#mainMods{
    grid-area: mn;
    background-color: aqua;
}
#mods{
    grid-area: sc; 
    display: flex;
    flex-wrap: wrap;
    gap: 1%; 

}
.mod {
    position: relative;
    width: 30%;
    height: 45%;
    background-color: purple;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}
.mod div{
    height: 30%;
    width: 100%;
    background-color:#202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 5% 5%;
}
.mod h2{
    padding-left: 10%;
    text-align: center;
    font-family: keania_one;
    color: white;

}
.mod img {
    border-radius: 3% 3% 0 0 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow:hidden;
    z-index: 0;
}


/* TRAILER STYLES */
#wrapperTrailer{
    height: 100vh;
    position: relative;
}
.headerTrailer {
    position: fixed;
    top: -15%;
    width: 100%;
    height: 20%;
    transition: top 0.3s;
}
.headOpen{
    top: 0;
    transition: top 0.3s;
}
.footerTrailer {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: -15%;
    transition: bottom 0.3s;
}
.footOpen{
    bottom: 0;
    transition: bottom 0.3s;
}
.headerTrailer img {
    height: 50%;
}
.video {
    position: relative;
    width: 100%;
    height: 90%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    object-fit: cover;
    position: fixed;
    height: 100%;
    right: 50%;
    transform: translateX(50%);
}
/* TRAILER END */


/* STORY STYLES */
@media (max-aspect-ratio: 1/1) {
    #wrapperStory {
        height: 280vh;
        grid-template-columns: 100%;
        grid-template-rows: 20vh 80vh 80vh 80vh 20vh;
        grid-template-areas: 
        'hd'
        'sc1'
        'sc2'
        'sc3'
        'ft'
        ;
    
    }
}
@media (min-aspect-ratio: 1/1) {
    #wrapperStory {
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas: 
        'hd hd hd'
        'sc1 sc2 sc3'
        'ft ft ft'
        ;
    }

}
#wrapperStory{
    display: grid;
    width: 100vw;
}
.card1{
    grid-area: sc1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1Inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardFace p {
    padding: 0 10% 0 10%;
    font-family: keania_one;
    font-size: 3.5vh;
    color: white;
    text-decoration: none;
}
.cardFace p strong {
    font-weight: normal;
}
.cardFace h3, .cardFace h6{
    color: white;
    font-family: keania_one;
    margin: 0;
    padding: 0;
    z-index: 10;
    background-color: #303030;
    padding: 1% 3% 1% 3%;
}
.cardFace h3 {
    border-radius: 30% 30% 10% 10%;
}
.cardFace h6 {
    border-radius: 0 0 30% 30%;
}
.cardFace img {
    position: absolute;
    z-index: 0;
    width: 100%;
    object-fit: cover;
}
#card1Front {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card1Back, #card2Back, #card3Back{
    transform: rotateY(180deg);
}
#card1Back, #card3Back {
    background-color: #303030;
}
#card2Back {
    background-color: #424242;
}

.card2{
    grid-area: sc2;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2Inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
#card2Front {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card3{
    grid-area: sc3;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card3Inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
#card3Front {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.isFlipped {
    transform: rotateY(180deg);
}
/* STORY END */



/* DOWNLOAD STYLES */
@media (max-aspect-ratio: 1/1){
    #wrapperDownload {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 60% 20%;
        grid-template-areas: 
        'hd'
        'mn'
        'ft'
        ;
    }
    #downloadMain{
        grid-area: mn;
        background-color: #303030;
        text-decoration: none;
        color: white;
        font-size: 32px;
        font-family: keania_one;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    #downloadMain a{
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 10% 5% 10% 5%;
    }
    aside {
        display: none;
    }
    .sectionDownload {
        display: none;
    }
}

@media (min-aspect-ratio: 1/1){
    #wrapperDownload {
        width: 100%;
        height: 200vh;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 20vh 80vh 80vh 20vh;
        grid-template-areas: 
        'hd hd hd'
        'as1 sc1 sc1'
        'sc2 sc2 as2'
        'ft ft ft'
        ;
    }
    #downloadMain{
        display: none;
    }
    #download1{
        grid-area: sc1;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sectionDownload img {
        width: 100%;
        height: 100%;
    }
    .sectionDownload a {
        position: absolute;
        font-family: keania_one;
        bottom: 5%;
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 2.5% 10% 2.5% 10%;
    }
    #download2{
        grid-area: sc2;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    aside {
        color: white;
    }
    aside p{
        padding:5% 5% 5% 5% ;
        font-family: keania_one;
        font-size: 4vh;
        text-align: center;
    }
    #aside1{
        grid-area: as1;
        background-color: #303030;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #aside2{
        grid-area: as2;
        background-color: #303030;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#wrapperDownload {
    display: grid;
}
/* DOWNLOAD END */


/* LANDING STYLES */
#wrapperLanding{
    width: 100%;
    height: 200%;
    display: grid;
    grid-template-columns:100%;
    grid-template-areas: 
    'hd'
    'mn'
    'sc'
    'ft'
    ;
}
main{
    grid-area: mn;
    position: relative;
    color: white;
    text-align: center;
}
main img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
section{
    grid-area: sc;
    background-color: #303030;
    display: flex;
}
section div{
    width: 45%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
section div img {
    height: 100%;
    width: 100%;
}
#linkDiv1 a {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 80%;
    text-decoration: none;
    background-color: white;
    padding: 2% 20% 2% 20%;
    font-family: keania_one;
    color: black;
}
#linkDiv2 a {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 80%;
    text-decoration: none;
    background-color: white;
    padding: 2% 20% 2% 20%;
    font-family: keania_one;
    color: black;
}
#linkDiv3 a {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 80%;
    text-decoration: none;
    background-color: white;
    padding: 2% 20% 2% 20%;
    font-family: keania_one;
    color: black;
}
#linkDiv1 img, #linkDiv2 img, #linkDiv3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-aspect-ratio: 1/1){
    #wrapperLanding {
        grid-template-rows:20vh 80vh 240vh 20vh ;
    }
    #arrow_left {
        display: none;
    }
    #arrow_right {
        display: none;
    }
    header h1 {
        display: none; 
    }
    main h1{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        z-index: 1;
        top: 10%;
        font-family: keania_one;
    }
    nav {
        font-size: 10vw;
    }
    section{
        display: flex;
        flex-direction: column;
        font-size: 32px;
    }
    section div {
        height: calc(100%/3);
        width: 100%;
    }
    nav {
        width: 100%;
        background-color: #303030;
        right: -100%;
    }
    .closed{
        right: -100%;
    }
    .show{
        right: 0;
    }
    .fadeLayer{
        display: none;
    }
}
@media (min-aspect-ratio: 1/1){
    #wrapperLanding {
        grid-template-rows:20vh 80vh 80vh 20vh ;
    }
    header h1 {
        position: absolute;
        left: 2.5%;
        cursor: default;
    }
    
    section{
        grid-area: sc;
        background-color: #303030;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main h1 {
        display: none;
    }
    section div{
        width: 45%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }
    section div img {
        height: 100%;
        width: 100%;
    }
    #linkDiv1{
        width: 22.5%;
    }
    #linkDiv1 a {
        display: none;
    }
    #linkDiv2{
        z-index: 2;
        position: relative;
    }
    #linkDiv3 {
        width: 22.5%;
        display: flex;
    }
    #linkDiv3 a {
        display: none;
    }

    .arrow{
        position: absolute;
        z-index: 10; 
        cursor: pointer;
        
    }
    #arrow_left {
        left: 30%;
    }
    #arrow_right {
        right: 30%;
    }

    .fadeLayer {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
    }

}
/* LANDING END */