@font-face {
    font-family: 'Keania One';
    src: url('KeaniaOne-Regular.woff2') format('woff2'),
        url('KeaniaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

